<div class="container">
  <div class="jumbotron">
    <h1>Quotes</h1>
  </div>
  <div id="form" class="container">
    <div class="row">
      <app-quote-form (addQuote)="addNewQuote ($event)"></app-quote-form>


    </div>

    <ol>
      <div *ngFor="let quote of quotes; let i = 'index'">
        <li>{{quote.name}}</li>
        <button class="btn btn-success" (click)='toogleDetails(i)' >Details</button>
        <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>

      </div>


    </ol>

  </div>
 </div>
