<div class="container-fluid">


    <div class="row">
      <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">

          <label for="name">Quote</label>
          <textarea required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name"  rows="4" cols="20"></textarea>
        </div>
        <div class="form-group">

          <label for="description">By</label>
          <input type="text" name="author" [(ngModel)]="newQuote.author" id="author">
        </div>
        <div class="form-group">
          <label for="complete">Written By</label>
          <input type='text' id="username" name="complete" [(ngModel)]="newQuote.username" required class="form-control">

        </div>
        <button type="submit" class="btn btn-success btn-lg">Add Goal</button>

      </form>
    </div>
    


</div>
